body{
    min-width: 990px;
}
.head{
    background-color: #006699;
    height: 60px;
}
.nav-bar{
    display: inline-block;
    margin-left: 20%;
    margin-bottom: -13px;
}
.nav-bar li{
    float: left;
    margin-top: 21px;
    font-size: 30px;
}
.font-white{
    color: #ffffff;
}
.nav-bar li a{
    text-decoration: none;
    color: #ffffff;
    padding: 0px 20px;
}
.nav-bar li a:hover{
    background-color: #ffffff;
    color:#006699 ;
}

body *{


}
.logo{
    float: left;
    display: inline-block;
}
.fr{
    float: right;
}
@media screen and (max-width:1240px){
    .nav-bar{
        margin-left:0px;
    }
}
.user-info{
    margin-top: 33px;
    margin-right: 40px;
    color: #ffffff;
}
.red{
    color: #E2A329;
}
body{
    background: #6699CC;
}
.content-center{
    width: 80%;
    margin:0px auto;
}
.content-center dl{
    margin-left: 10%;
    color: #ffffff;
}
.content-center dl input{
    color: #333333;
}
.content-center dl dd{
    margin-left: 20%;
    font-size: 20px;
}
.content-center dl dd input{
    margin-bottom: 0px;
}
.register .content-center dd input{
    float: right;
    margin-right: 45%;
}
@media screen and (max-width:1185px){
    .register .content-center dd input{
        margin-right: 34%;
    }
}
.register .content-center dl{
    margin-left:7%;
    background-color:#E4E8ED ;
    color: #535455;
}
.register .content-center dd{
    height: 50px;
}
.loginok{
    bottom: 0px;
}
.loginok .huan1{
    background-color: #6699CC;
}
.loginok .tu1{
    margin: 0px auto;
    width: 725px;
}
.loginok .wen1{
    float: right;
    font-size: 25px;
    margin-top: 130px;
    color: #ffffff
}
.loginok .font1{
    font-size: 22px;
}
.loginok .font1_1{
    font-size: 20px;
    font-family : '微软雅黑';
}
.loginok .huan2{
    background-color: #B888F4;
}
.loginok .tu2{
    margin: 0px auto;width: 900px;
}
.loginok .wen2{
    float: right;
    color: #ffffff;
    float: right;
    font-size: 15px;
    margin-top: 100px;
    width: 500px;
}
.loginok .huan2 dd{
    line-height: 28px;
}
.loginok .huan2 h4{
    font-family : '楷体','微软雅黑','宋体';
}
.loginok .huan3{
    background-color: #FF459C;
    height: 450px;
}
.loginok .tu3{
    margin: 0px auto;
    width: 1000px;
}
.loginok .wen3{
    float: right;
    color: #ffffff;
    float: right;
    font-size: 15px;
    margin-top: 100px;
    width: 500px;
}
.loginok .huan3 h3{
    font-family : '楷体','微软雅黑','宋体';
    line-height: 35px;
}
.loginok .huan3 dd{
    line-height: 30px;
    font-size: 16px;
}
.register h2{
    text-align: center;
}
.register .login{
    text-align: center;
    margin-left: 0px;
}
.register,.deal .form-control{
    width: 215px;
}
.chongzhi .table{
    background-color: #ffffff;
}
.inp{
    width: 35px;
}
.chao{
    width: 105px
}
.deal .left{
    width: 65%;
    margin-top: 50px;
    float: left;
    font-size: 16px;
}
.deal .left1{
    text-align: center;

}
.deal .nav-tabs{
    background-color: #D9DDE1;
    width: 300px;
}
.deal .nav-tabs li{
    width: 150px;
}
.deal .list-group .form-control{
    display: inline-block;
}
.deal .list-group li{
    padding: 5px 15px;
}
.red{
    color: #FF6C00;
}
.deal h4{
    color: #ffffff;
}
.deal .left2 td{
    vertical-align: bottom;
}
.deal .left2 th{
    text-align: center;
}
.deal .left2 button{
    padding: 2px 12px;
}
.deal .left form ul{
    text-align: center;
}
.deal .left2{
    margin-top: 30px;
}
.deal .left2 table{
    text-align:center;
    background-color: #ffffff;
    margin-bottom: 0px;
}
.deal .right td,th{
    text-align: center;
}
.deal .right{
    width: 30%;
    float: right;
    margin-top: 40px;
}
.right table{
    background-color: #ffffff;
}
.blue{
    color: #39B617;
}